:root {
  --active--background: var(--dark-theme--background);
  --active--typeface: var(--swatch--primary-typeface);
  --active--default: var(--dark-theme--default);
  --active--typeface-accent: var(--swatch--primary-typeface-accent);
  --active--brand: var(--dark-theme--brand);
  --swatch--primary-brand-accent: #fff3b0;
  --swatch--primary-dark: #22223b;
  --swatch--primary-light: #f2e9e4;
  --swatch--primary-dark-accent: #13162b;
  --swatch--primary-brand: #f18805;
  --active--brand-accent: var(--dark-theme--brand-accent);
  --swatch--primary-typeface: Inter, sans-serif;
  --swatch--primary-typeface-accent: "Inter Italic", sans-serif;
  --swatch--primary-radius: 8px;
  --swatch--primary-radius-alt: 100px;
  --active--radius: var(--swatch--primary-radius);
  --active--radius-alt: var(--swatch--primary-radius-alt);
  --dark-theme--background: var(--swatch--primary-dark);
  --dark-theme--brand: var(--swatch--primary-brand);
  --dark-theme--brand-accent: var(--swatch--primary-brand-accent);
  --dark-theme--default: var(--swatch--primary-light);
  --light-theme--background: var(--swatch--primary-light);
  --light-theme--brand: var(--swatch--primary-brand);
  --light-theme--brand-accent: var(--swatch--primary-brand-accent);
  --light-theme--default: var(--swatch--primary-dark-accent);
}

.w-layout-blockcontainer {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.w-layout-hflex {
  flex-direction: row;
  align-items: flex-start;
  display: flex;
}

.w-layout-layout {
  grid-row-gap: 20px;
  grid-column-gap: 20px;
  grid-auto-columns: 1fr;
  justify-content: center;
  padding: 20px;
}

.w-layout-cell {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

@media screen and (max-width: 991px) {
  .w-layout-blockcontainer {
    max-width: 728px;
  }
}

@media screen and (max-width: 767px) {
  .w-layout-blockcontainer {
    max-width: none;
  }
}

body {
  background-color: var(--active--background);
  font-family: var(--active--typeface);
  color: var(--active--default);
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1;
}

h2 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 32px;
  font-weight: bold;
  line-height: 36px;
}

p {
  margin-bottom: 0;
}

a {
  font-family: var(--active--typeface-accent);
  cursor: pointer;
  color: inherit;
  padding-top: .25rem;
  padding-bottom: .25rem;
  font-weight: 800;
  text-decoration: none;
}

a:hover {
  color: var(--active--brand);
  text-decoration: underline;
}

.hero_section {
  color: var(--active--brand);
  font-size: 3rem;
  font-weight: 700;
}

.utility-page-wrap {
  justify-content: center;
  align-items: center;
  width: 100vw;
  max-width: 100%;
  height: 100vh;
  max-height: 100%;
  display: flex;
}

.utility-page-content {
  text-align: center;
  flex-direction: column;
  width: 260px;
  display: flex;
}

.utility-page-form {
  flex-direction: column;
  align-items: stretch;
  display: flex;
}

.div-block {
  background-color: var(--swatch--primary-brand-accent);
  color: var(--swatch--primary-dark);
  border-radius: 1.25rem;
  flex-flow: column;
  flex: 0 auto;
  justify-content: center;
  align-self: center;
  align-items: center;
  padding: 1rem;
  font-size: 1rem;
  display: flex;
  position: absolute;
  inset: auto auto 17% -15.4em;
  transform: rotate(4deg);
}

.link-block {
  background-color: var(--swatch--primary-brand-accent);
  border-radius: 20px;
  align-self: flex-end;
}

.text-block {
  color: var(--swatch--primary-light);
  justify-content: center;
  align-items: center;
  padding-top: 2em;
  padding-bottom: 1em;
  font-size: .6rem;
  font-weight: 200;
  display: flex;
}

.footer_background {
  background-color: var(--swatch--primary-dark-accent);
  position: absolute;
  inset: 0%;
}

.container {
  z-index: 2;
  position: relative;
}

.footer_section {
  margin-top: 50px;
  position: relative;
}

.div-block-3 {
  color: var(--swatch--primary-brand);
  flex-flow: wrap;
  justify-content: center;
  align-items: flex-start;
  font-size: 2rem;
  font-weight: 700;
  display: flex;
  position: relative;
}

.cell {
  justify-content: flex-start;
  align-items: center;
}

.text-block-2 {
  padding-top: .25rem;
  padding-bottom: .25rem;
  font-size: 1.4rem;
  font-weight: 800;
}

.text-block-3 {
  font-weight: 500;
}

.quick-stack {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  padding: 1rem 0 0;
}

.text-block-4 {
  padding-left: .1ch;
  padding-right: .1ch;
}

.flex-block {
  color: var(--swatch--primary-brand-accent);
  padding-top: .25rem;
  font-size: 1.3rem;
}

.title_text {
  color: var(--active--brand);
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 6rem;
  font-weight: 700;
  line-height: 1;
}

.u-heading-2 {
  color: var(--active--brand-accent);
  margin-top: 0;
  margin-bottom: 0;
  font-size: 3rem;
  font-weight: 700;
  line-height: 1;
}

.u-heading-2.subtitle_text {
  grid-column-gap: .5rem;
  grid-row-gap: .5rem;
  justify-content: center;
}

.u-container {
  max-width: 90rem;
  padding: 6rem 2.5rem;
}

.u-container.hero_container {
  flex-flow: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  display: flex;
  position: relative;
}

.title_block {
  grid-column-gap: .6875rem;
  grid-row-gap: .6875rem;
  flex-flow: column;
  display: flex;
}

.image {
  background-image: linear-gradient(180deg, #0d011e, var(--swatch--primary-dark-accent));
}

.div-block-4 {
  background-image: linear-gradient(180deg, #0c010f, var(--swatch--primary-dark-accent));
}

.unity_canvas {
  z-index: -1;
  background-color: var(--swatch--primary-dark-accent);
  min-width: 100%;
  position: absolute;
}

#w-node-_1f63be3c-de81-2e0a-2679-b7246de91106-8c2c6eaa {
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
}

@media screen and (max-width: 767px) {
  #w-node-_1f63be3c-de81-2e0a-2679-b7246de91106-8c2c6eaa {
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
  }
}


@font-face {
  font-family: 'Inter Italic';
  src: url('../images/') format('truetype');
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Inter';
  src: url('../images/') format('truetype');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}